@import "./reset.css";

/* Start Global */

body {

  background-color: #f6f2f2;
}

.page {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 10px 100px;
  padding: 10px 0 0 0;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

/* End Global */

/* Start Header */
.pageHeader {
  width: 100%;
  background-color: #2d2c2c;
}

.pageHeader > ul {
  margin: 0 460px 0 381px;
}

.pageHeader > ul > li {
  padding: 45px 23px 32px 24px;
  letter-spacing: 0.49px; 
  transition: all 0.3s;
}

.pageHeader > ul > li:hover {
  background-color: #ff3f40;
  letter-spacing: 0.49px;
  transition: all 0.3s;
}

.pageHeader > ul > li > a {
  color: #e0e0e0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}
/* End Header */

/* Start Head Section */
.headSection {
  width: 100%;
  margin: 90px 0;
}

.headSection > .textContent {
  width: calc(100% / 2);
}

.headSection > .textContent > h1 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 72px;
  letter-spacing: 1.5px;

}

.headSection > .textContent > h2 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: normal;
}

.headSection > .textContent > p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  margin: 4.9px 0;
  color: #6f6d6d;
}

.headSection > .textContent > .button {
  margin: 53px 0;
  width: 100%;
  max-width: 227px;
  background-color: #ff2d2d;
  border-radius: 5px;
  cursor: pointer;

}

.headSection > .textContent > .button > p {
  font-family: "Open Sans";
  font-size: 18.6px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  color: white;
  margin: 20px 63px;
  white-space: nowrap;
}

.videoContent {
  padding: 0 0 12px 0;
  background-color: none;
}

.videoContent > .video {
  margin: 10px 0 0 0;
  width: 100%;
  height: 356px;
  max-width: 551px;
  background-color: #c4c0b1;
  box-shadow: 0px 0px 38px -18px #000000;

}

.videoContent > .video > img {
  margin: 144px 240px 143px 241px;
}
/* End Head Section */

/* Start Main */
.provideSection {
  margin: -35px 0 -186px 0;
  width: 100%;
  background-color: white;
}

.provideSection > .container {
  border-bottom: 3px solid black;
}

.provideSection > .container > .textContent {
  width: calc(100% / 2);
  height: 100vh;
  margin: 20px 0 0 0;
}

.provideSection >.container > .textContent > h1 {
  margin: 60px 0 0 0;
  color: #666;
  padding: 0;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
}

.provideSection > .container >.textContent > p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
  padding: 0 100px 0 0;
  margin: 32px 0;
}

.provideSection > .container > .textContent > .button {
  margin: 52px 0 0 0;
  width: 100%;
  max-width: 222px;
  border-radius: 5px;
  border: 2px solid #ff0000;
  cursor: pointer;
}

.provideSection > .container > .textContent > .button > p {
  margin: 8px 65px 8px 65px;
  color: #ff2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 34.06px;
  white-space: nowrap;
}

.provideSection > .container > .logoContent {
  width: 50%;
  height: 500px;
  margin: 93px 0;
}

.provideSection > .container > .logoContent > .card {
  width: 312px;
  height: 225px;
  background-color: white;
}

.provideSection > .container > .logoContent > .card > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.3;
  line-height: normal;
  opacity: 0.7;
}

.provideSection > .container > .logoContent > .card > p { 
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  margin: 10px 0 0 17px
}

.provideSection > .border {
  width: 100%;
  padding: 4px;
  background-color: black;
}

/* ============================================================= */

.featureSection {
  width: 100%;
  margin: -80px 0 0 0;
  background-color: white;
}

.featureSection > .container > .textContent {
  width: 50%;
  margin: 0 0 83px 0;
}

.featureSection > .container > .textContent > h1 {
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 0 25px;
  opacity: 0.7;
}

.featureSection > .container > .textContent > p {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: center;
  margin: 17px 0 0 33px;
}

.featureSection > .container > .textContent > .border {
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
  margin: 25px 0 0 30px;
}

.featureSection > .container > .listContent > ul {
  margin: 0 0px 0 46px;
}

.featureSection > .container > .listContent > ul > li {
  margin: 0 29px;
}

.featureSection > .container > .listContent > ul > li > a {
  text-decoration: none;
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.3s;
}

.featureSection > .container > .listContent > ul > li > a:hover {
  color: #ff2d2d;
  transition: all 0.3s;
}

.featureSection > .container > .itemContent {
  width: 102%;
  margin: 51px 0;
}

.featureSection > .container > .itemContent > .item {
  width: 297px;
  height: 290px;
  background-color: #f5f0dd;  
  margin: 10px 10px 10px 10px;
}

/* ============================================================= */

.teamSection {
  width: 100%;
  margin: 0 0 50px 0;
  background-color: white;
}

.teamSection > .container {
  width: 100%;
  padding: 0;
  margin: 55px 25px 0 0;
}

.teamSection > .container > .textContent {
  width: 100%;
  margin: 0 0 49px 0;
}

.teamSection > .container > .textContent > h1 {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.teamSection > .container > .textContent > p {
  margin: 22px 0 0 14px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9953px;
  line-height: 28px;
  opacity: 0.5;
}

.teamSection > .container > .textContent > .border {
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
  transform: translate(14px, 29px);
}

.teamSection > .container > .imageContent {
  width: 100%;
  margin: 49px 25px 0 0;
}

.teamSection > .container > .imageContent > .image {
  width: 100%;
  max-width: 322px;
  height: 458px;
  background-color: #f5f0dd;
  transform: translate(10px, 0);
}

/* Title */
.teamSection > .container > .imageContent > .text {
  width: 100%;
  margin: 0 0 0 100px; 
}

.teamSection > .container >.imageContent > .text > .title {
  width: 100%;
  padding: 11px 0;
  margin: 0 4px;
}

.teamSection > .container > .imageContent > .text > .title > h1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.7;
}

.teamSection > .container > .imageContent > .text > .title > span {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  vertical-align: bottom;
  letter-spacing: 1px;
  opacity: 0.7;

}
/* Title */

/* Paragreph */
.teamSection > .container > .imageContent > .text > .paragraph {
  width: 100%;
  margin: 14px 4px 0 4px;
}

.teamSection > .container > .imageContent > .text > .paragraph > p {
  padding: 0 200px 0 2px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9953px;
  line-height: 28px;
  opacity: 0.5;
}
/* Paragreph */

/* List */
.teamSection > .container > .imageContent > .text > .list {
  width: 100%;
}

.teamSection > .container > .imageContent > .text > .list > ul {
  margin: 38px 0 0 7px;
}

.teamSection > .container > .imageContent > .text > .list > ul > li {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
}

.teamSection > .container > .imageContent > .text > .list > ul > li > a {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  opacity: 0.7;
}

.teamSection > .container > .imageContent > .text > .list > ul > li > p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  opacity: 0.7;
}
/* List */

/* Cards */
.teamSection > .container > .imageContent > .text > .cards {
  width: 100%;
  max-width: 850px;
  margin: 65px 0
}

.teamSection > .container > .imageContent > .text > .cards > .card {
  width: 197px;
  height: 214px;
  background-color: #f5f0dd;
  margin: 0 10px;
  transition: all 1s;
}

.teamSection > .container > .imageContent > .text >.cards > .card:hover .content {
  display: block;
  transition: all 1s;
}

.teamSection > .container > .imageContent > .text > .cards > .card > .content {
  width: 100%;
  background-color: #7a786e;
  display: none;
  transition: all 1s;
}

.teamSection > .container > .imageContent > .text > .cards > .card > .content > h1 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px 44px 11px 44px;
  font-size: 18px;
}
/* Cards */

/* ============================================================= */

/* Start Search Section */
.searchSection {
  width: 100%;
  background-color: #f5f0dd;
}

.searchSection > .container {
  width: 100%;
  background-color: #f5f0dd;
  margin: 50px 0;
}

/* Tittle */
.searchSection > .container > .title {
  width: 100%;
  padding: 10px 0;
  margin: 60px 0 0 0;
}

.searchSection > .container > .title > h1 {
  color: #fff;
  font-size: 44px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
/* Tittle */

/* Paragraph */
.searchSection > .container >.paragraph {
  width: 100%;
  margin: 25px 0;
}

.searchSection > .container > .paragraph > p {
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
}
/* Paragraph */

/* Form */
.searchSection > .container > form {
  width: 100%;
  background-color: #f5f0dd;
  margin: 42px 0;
}

.searchSection > .container > form > input {
  width: 520px;
  margin: 0 10px 0 0;
  border: none;
  outline: none;
  border-radius: 5px;
}

.searchSection > .container > form > input::-webkit-input-placeholder {
  padding: 0 33px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}

.searchSection > .container > form > button {
  width: 214px;
  margin: 0 0 0 10px;
  background-color: #ff2d2d;
  border: none;
  outline: none;
  padding: 25px 58px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
/* Form */

/* End Search Section */

/* ============================================================= */

/* Start Email Section */
.emailSection {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
}

.emailSection > .container {
  width: 100%;
  max-width: 1545px;
  background-color: darkgoldenrod;
  margin: 130px 0;
}

.emailSection > .container > .text {
  width: 50%;
  background-color: darkgreen;
}
.emailSection > .container > .text > .title {
  width: 50%;
}

.emailSection > .container > .text > .title > h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 43px;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
}

.emailSection > .container > .text > .paragraph {
  width: 95%;
  background-color: darkmagenta;
  margin: 40px 5px;
}

.emailSection > .container > .text > .paragraph > p {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
}

.emailSection > .container > .border {
  width: 130px;
  height: 3px;
  background: #FF2D2D;
  margin: 9px 4px;
}
/* End Email Section */

/* End Main */

/* Start Footer */
.pageFooter {
  width: 100%;
  background-color: #333;
}

.pageFooter > .container {
  margin: 0 190px;
}

.pageFooter > .container > p {
  color: #b8b8b8;
  padding: 46px 0 47px 0;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.pageFooter > .container > ul {
  margin: 46px 0 30px 0;
}

.pageFooter > .container > ul > li {
  margin: 0 9px;
}

.pageFooter > .container > ul > li > i {
  font-size: 35px;
  color: white;
  display: block;
  border-radius: 50%;
}
/* End Footer */