@import "./reset.css";

/* Start Global */

body {

  background-color: #ffffff;
}

.page {
  width: 100%;
  background-color: #ffffff
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 10px 100px;
  padding: 10px 0 0 0;
}

.head {
  width: 100%;
     background-color: #f6f2f2;
  
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

/* End Global */

/* Start Header */
.pageHeader {
  width: 100%;
  background-color: #2d2c2c;
}

.pageHeader > ul {
  margin: 0 460px 0 381px;
}

.pageHeader > ul > li {
  padding: 45px 23px 32px 24px;
  letter-spacing: 0.49px; 
  transition: all 0.3s;
}

.pageHeader > ul > li:hover {
  background-color: #ff3f40;
  letter-spacing: 0.49px;
  transition: all 0.3s;
}

.pageHeader > ul > li > a {
  color: #e0e0e0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}
/* End Header */

/* Start Head Section */
.headSection {
  width: 100%;
  margin: 92px 0px 136px -2px;
}

.headSection > .textContent {
  width: calc(100% / 2);
}

.headSection > .textContent > .title > h1 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 72px;
  letter-spacing: 1.5px;
}

.headSection > .textContent > .title > h2 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: normal;
}

.headSection > .textContent > p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  margin: 9.6px 0;  
  color: #6f6d6d;
  transform: translate(2px, -2px);
}

.headSection > .textContent > .button {
  margin: 31px 0 0 0;
  width: 100%;
  max-width: 227px;
  background-color: #ff2d2d;
  border-radius: 5px;
  cursor: pointer;
  transform: translate(0px, 10px);

}

.headSection > .textContent > .button > p {
  font-family: "Open Sans";
  font-size: 18.6px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  color: white;
  margin: 20px 63px;
  white-space: nowrap;
}

.videoContent {
  padding: 0 0 12px 0;
  background-color: none;
}

.videoContent > .video {
  transform: translate(4px, 10px);
  width: 100%;
  height: 356px;
  max-width: 551px;
  background-color: #c4c0b1;
  box-shadow: 0px 0px 38px -18px #000000;

}

.videoContent > .video > img {
  margin: 144px 240px 143px 241px;
}
/* End Head Section */

/* Start Main */
.provideSection {
  margin: -35px 0 -186px 0;
  width: 100%;
  background-color: white;
}

.provideSection > .container {
  border-bottom: 3px solid black;
}

.provideSection > .container > .textContent {
  width: calc(100% / 2);
  height: 100vh;
  margin: 26px 0 0 0;
  transform: translate(-1px, -6px);
}

.provideSection > .container > .textContent > .title {
  white-space: nowrap;
}

.provideSection >.container > .textContent > .title > h1 {
  margin: 56px 0 0 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.75;
}

.provideSection >.container > .textContent > .title > span {
  padding: 0;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
  margin: 59px 0 0 12px;
  opacity: 0.75;

}

.provideSection >.container > .textContent > .title > h2 {
  padding: 0;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
  margin: 59px 0 0 12px;
  opacity: 0.75;
}

.provideSection >.container > .textContent > .title > h3 {
  padding: 0;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
  margin: -1px 0 0 13px;
  opacity: 0.75;
}

.provideSection > .container >.textContent > p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
  padding: 0 100px 0 0;
  margin: 32px 0;
}

.provideSection > .container > .textContent > .button {
  margin: 52px 0 0 0;
  width: 100%;
  max-width: 223px;
  border-radius: 5px;
  border: 2px solid #ff0000;
  cursor: pointer;
}

.provideSection > .container > .textContent > .button > p {
  margin: 9px 65px 8px 65px;
  color: #ff2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1.0px;
  line-height: 34.06px;
  white-space: nowrap;
}

.provideSection > .container > .logoContent {
  width: 50%;
  height: 500px;
  margin: 99px 0;
  transform: translate(0px, -9px);
}

.provideSection > .container > .logoContent > .card {
  width: 312px;
  height: 225px;
  background-color: white;
}

.provideSection > .container > .logoContent > .card > .title > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  opacity: 0.6;
}

.provideSection > .container > .logoContent > .card > .title > span {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.3;
  line-height: normal;
  opacity: 0.6;
  transform: translate(-0.5px, 22px);
}

.provideSection > .container > .logoContent > .card > p { 
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  margin: 9px 0 0 17px
}

.provideSection > .border {
  width: 100%;
  padding: 4px;
  background-color: black;
}

/* ============================================================= */

.featureSection {
  width: 100%;
  margin: -90px 0 0 0;
  background-color: white;
  transform: translate(0px 0);
}

.featureSection > .container > .textContent {
  width: 50%;
  margin: 0 0 83px 0;
}

.featureSection > .container > .textContent > .title {
  margin: 0 0 0 15px;
}

.featureSection > .container > .textContent > .title > h1 {
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.65;
  transform: translate(5px, 1px);
}

.featureSection > .container > .textContent > .title > span {
  opacity: 0.65;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  transform: translate(5px, 2px);
}

.featureSection > .container > .textContent > .title > h2 {
  opacity: 0.65;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  transform: translate(7px, 1px);
}

.featureSection > .container > .textContent > p {
  color: #737373;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  margin: 17px 0 0 33px;
}

.featureSection > .container > .textContent > .border {
  width: 132px;
  height: 2.3px;
  background-color: #ff2d2d;
  margin: 25px 0 0 30px;
}

.featureSection > .container > .listContent > ul {
  margin: 1px 0 0 40px;
}

.featureSection > .container > .listContent > ul > li {
  margin: 0 29px;
  display: flex;
  flex-direction: row;
}


.featureSection > .container > .listContent > ul > li > a {
  text-decoration: none;
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.3s;
}

.featureSection > .container > .listContent > ul > li > a:hover {
  color: #ff2d2d;
  transition: all 0.3s;
  opacity: 1;
}

.featureSection > .container > .listContent > ul > li > p {
  text-decoration: none;
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
  transform: translate(7px, 0);
}

.featureSection > .container > .listContent > ul > li > p:hover {
  color: #ff2d2d;
  transition: all 0.3s;
  opacity: 1;
}

.featureSection > .container > .itemContent {
  width: 102%;
  margin: 54px 0 0 2px;
}

.featureSection > .container > .itemContent > .item {
  width: 298px;
  height: 290px;
  background-color: #f5f0dd;  
  margin: 10px 10px 10px 10px;
}

/* ============================================================= */

.teamSection {
  width: 100%;
  margin: 49px 0 50px 0;
  background-color: white;
}

.teamSection > .container {
  width: 100%;
  padding: 0;
  margin: 55px 25px 0 0;
}

.teamSection > .container > .textContent {
  width: 100%;
  margin: 0 0 49px 1px;
}

.teamSection > .container > .textContent > .title > h1 {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 0 0;
  letter-spacing: 0.6px;
}

.teamSection > .container > .textContent > .title > span {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  letter-spacing: 0.6px;
}

.teamSection > .container > .textContent > .title > h2 {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 0 12px;
  letter-spacing: 0.6px;

}

.teamSection > .container > .textContent > p {
  margin: 22px 0 0 14px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9953px;
  line-height: 28px;
  opacity: 0.5;
}

.teamSection > .container > .textContent > .border {
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
  transform: translate(14px, 29px);
}

.teamSection > .container > .imageContent {
  width: 100%;
  margin: 49px 25px 0 0;
}

.teamSection > .container > .imageContent > .image {
  width: 100%;
  max-width: 322px;
  height: 458px;
  background-color: #f5f0dd;
  transform: translate(10px, 0);
  margin: 0px 77px 0 0;
}

/* Title */
.teamSection > .container > .imageContent > .text {
  width: 100%; 
}

.teamSection > .container >.imageContent > .text > .title {
  width: 100%;
  padding: 11px 0;
  margin: 0 5px;
}

.teamSection > .container > .imageContent > .text > .title > h1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.7;
}

.teamSection > .container > .imageContent > .text > .title > span {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  vertical-align: bottom;
  letter-spacing: 1px;
  opacity: 0.7;

}
/* Title */

/* Paragreph */
.teamSection > .container > .imageContent > .text > .paragraph {
  width: 100%;
  margin: 14px 4px 0 5px;
}

.teamSection > .container > .imageContent > .text > .paragraph > p {
  padding: 0 200px 0 2px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9953px;
  line-height: 28px;
  opacity: 0.5;
}
/* Paragreph */

/* List */
.teamSection > .container > .imageContent > .text > .list {
  width: 100%;
}

.teamSection > .container > .imageContent > .text > .list > ul {
  margin: 38px 0 0 7px;
}

.teamSection > .container > .imageContent > .text > .list > ul > li {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
}

.teamSection > .container > .imageContent > .text > .list > ul > li > a {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  opacity: 0.7;
}

.teamSection > .container > .imageContent > .text > .list > ul > li > p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  opacity: 0.7;
}
/* List */

/* Cards */
.teamSection > .container > .imageContent > .text > .cards {
  width: 100%;
  max-width: 850px;
  margin: 65px 0;
  transition: all 1s;
}

.teamSection > .container > .imageContent > .text > .cards > .card {
  width: 200px;
  height: 214px;
  background-color: #f5f0dd;
  margin: 0 10px;
  transition: all 1s;
}

.teamSection > .container > .imageContent > .text > .cards > .card > .content {
  width: 100%;
  background-color: #7a786e;
  display: none;
  transition: all 1s;
}

.teamSection > .container > .imageContent > .text >.cards > .card:hover .content {
  display: flex;
  transition: all 1s;
}

.teamSection > .container > .imageContent > .text > .cards > .card > .content > h1 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px 44px 11px 44px;
  font-size: 18px;
  transition: all 1s;

}
/* Cards */

/* ============================================================= */

/* Start Search Section */
.searchSection {
  width: 100%;
  background-color: #f5f0dd;
  padding: 0 0 43px 0;
}

.searchSection > .container {
  width: 100%;
  background-color: #f5f0dd;
  margin: 50px 0;
}

/* Tittle */
.searchSection > .container > .title {
  width: 100%;
  padding: 10px 0;
  margin: 60px 0 0 0;
}

.searchSection > .container > .title > h1 {
  color: #fff;
  font-size: 44px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
}
/* Tittle */

/* Paragraph */
.searchSection > .container >.paragraph {
  width: 100%;
  margin: 25px 0;
}

.searchSection > .container > .paragraph > p {
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
}
/* Paragraph */

/* Form */
.searchSection > .container > form {
  width: 100%;
  background-color: #f5f0dd;
  margin: 42px 0;
}

.searchSection > .container > form > input {
  width: 520px;
  margin: 0 10px 0 0;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0px 0;
}

.searchSection > .container > form > input::-webkit-input-placeholder {
  padding: 0 33px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}

.searchSection > .container > form > button {
  width: 214px;
  margin: 0 0 0 10px;
  background-color: #ff2d2d;
  border: none;
  outline: none;
  padding: 26px 30px 26px 33px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
/* Form */

/* End Search Section */

/* ============================================================= */

/* Start Email Section */
.emailSection {
  width: 100%;
  background-color: #ffffff;
  padding: 14px 0;
}

.emailSection > .container {
  width: 100%;
  max-width: 1545px;
  margin: 80px 0 0 0;
}

.emailSection > .container > .text {
  width: 50%;
}
.emailSection > .container > .text > .title {
  width: 50%;
  margin: 0 2px;
}

.emailSection > .container > .text > .title > h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 43px;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  margin: 2px -1px;
}

.emailSection > .container > .text > .paragraph {
  width: 95%;
  margin: 40px 5px;
}

.emailSection > .container > .text > .paragraph > p {
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
}

.emailSection > .container > .border {
  width: 130px;
  height: 3px;
  background: #FF2D2D;
  margin: 9px 4px;
}

.emailSection > .container > form {
  width: 50%;
  margin: 87px 2px;
}

.emailSection > .container > .contactPart {
  margin: 68px 0;
  width: 100%;
}

.emailSection > .container > form > .fullName {
  width: 100%;
}

.emailSection > .container > .contactPart > form > .fullName > .name {
  width: 337px;
  margin: 0 27px;
  border: none;
  outline: none;
  padding: 25px 0;
  border-radius: 8px;
  background-color: #e5e5e5;
}

.emailSection > .container > .contactPart > form > .fullName > .mail{
  width: 337px;
  margin: 0 27px;
  border: none;
  outline: none;
  padding: 25px 0;
  border-radius: 8px;
  background-color: #e5e5e5;
}

.emailSection > .container > .contactPart > form > .fullName > .name::-webkit-input-placeholder {
  padding: 1px 51px;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

.emailSection > .container > .contactPart > form > .fullName > .mail::-webkit-input-placeholder {
  padding: 0 0 0 51px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transform: translate(-4px, 2px);
}

.emailSection > .container > .contactPart > form > .submit {
  margin: 47px 0 0 5px;
}

.emailSection > .container > .contactPart > form > .submit > input::-webkit-input-placeholder {
  transform: translate(48px, -83px);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.emailSection > .container > .contactPart > form > .submit > input {
  border: none;
  outline: none;
  height: 245px;
  border-radius: 8px;
  background-color: #e5e5e5;
}

.emailSection > .container > .contactPart > form > .submit > button {
  border: none;
  outline: none;
  margin: 45px 0 0 0px;
  background-color: #ff3b3b;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18.5px;
  padding: 23px 0px 24px 2px;
  border-radius: 5px;

}

.emailSection > .container > .contactPart > .contacts {
  width: 37.1%;
  margin: -2px 0 2px 109px;
  padding: 0 0 0 0;
  background-color: #2d2d2d;
}

.emailSection > .container > .contactPart > .contacts > .text {
  width: 60%;
  margin: 142px 78px;
}

.emailSection > .container > .contactPart > .contacts > .text > h1 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18.5px;
}

.emailSection > .container > .contactPart > .contacts > .text > .paragraph > p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  margin: 21px 0 0 1px;
  color: #ffffff;
}
/* End Email Section */

/* End Main */

/* Start Footer */
.pageFooter {
  width: 100%;
  background-color: #333;
  margin: 23px 0 20px 0;
}

.pageFooter > .container {
  margin: 0 190px;
  padding: 0;
}

.pageFooter > .container > p {
  color: #b8b8b8;
  padding: 50px 0 33px 0;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.pageFooter > .container > ul {
  margin: 46px 2px 30px 0;
}

.pageFooter > .container > ul > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin: 0 8px;
  background-color: #ffffff;
  border-radius: 50%;
}

.pageFooter > .container > ul > div > img {
  display: flex;
  width: 25px;
  height: 25px;
  opacity: 0.8;
}
/* End Footer */